{% extends "index.html" %}

{% block title %}Gestor de tareas - Lista{% endblock %}

{% block content %}
<h1>Lista de Tareas</h1>
<a class="btn btn-primary" href="{% url 'create_task' %}">Nueva tarea</a>
<table class="table">
    <thead>
        <tr class="table">
            <th scope="col">Numero de Tarea</th>
            <th scope="col">Title</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Inicio</th>
            <th scope="col">Vencimiento</th>
            <th scope="col">Email</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.pk }}</td>
            <td>{{ tarea.title }}</td>
            <td>{{ tarea.content }}</td>
            <td>{{ tarea.created_at }}</td>
            {% if tarea.is_overdue %}
                <td class="text-danger">{{ tarea.overdue }}</td>
            {% else %}
                <td>{{ tarea.overdue }}</td>
            {% endif %}
            <td>{{ tarea.email }}</td>
            <td>
                <a href="{% url 'edit_task' tarea.pk %}">Editar</a>
                <a href="{% url 'delete_task' tarea.pk %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}